<div class="contents row">
  <%= form_tag('/users', method: :post) do %>
    <h3>
      登録画面
    </h3>
    <input placeholder="姓" type="text" name="last_name">
    <input placeholder="名" type="text" name="first_name">
    <input placeholder="姓（カナ）" type="text" name="last_name_kana">
    <input placeholder="名（カナ）" type="text" name="first_name_kana">
    <!-- <textarea cols="30" name="text" placeholder="text" rows="10"></textarea> -->
    <input type="submit" value="SENT">
  <% end %>
</div>
